*{
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
}
.main-container{
    gap: 5px;
}
.left-child{
    width: 20vw;
}
.right-child{
    width: 80vw;
}
ul img{
    height: 24px;
    width: 24px;
}
.home ul li{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
